*{
    font-family: Helvetica !important;
}
.total-center{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

h5{
    color: #787878;
}

p{
    color: #787878;
}

body{
    background-color: #E6E6E6;
    padding: 100px 0px;
}

#incorrect{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #c65353;
    margin-bottom: 10px;
}

.incorrect{
    color: #c65353;
    margin-top: 0% !important;
    margin-bottom: 2px;
}

.container{
    background-color: #fff;
    width: 640px;
    height: auto;
    padding: 40px;
    box-shadow: 2px 5px 6px 4px #00000007;
}

.title-and-change-layout{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

hr{
    margin-top: 10px !important;
}

.change-layout{
    border: solid 1px #46b02c;
    color: #46b02c !important;
    height: 27px;
    display: flex;
    align-items: center;
}

.hour-minutes{
    display: flex;
    justify-content: space-between;
}

.title-hours-and-minutes{
    margin-bottom: 5px;
}

.send{
    background-color: #46b02c;
    color: #fff !important;
    width: 100%;
    margin: 18px 0px 0px 0px !important;
    padding: 6px;
    font-size: 16px;
}

.answer{
    margin-top: 30px;
    background-color: #FCF9D7;
    width: 100%;
    height: 180px;
    text-align: -webkit-center;
    padding-top: 35px;
}

.answer-grades{
    background-color: #fff;
    width: 28%;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 39px;
    padding-top: 13px;
    padding-left: 10px;
}

#h-m-block{
    display: flex;
    justify-content: space-between;
}

.hours{
    width: 49%;
    padding: 5px;
}

.minutes{
    width: 49%;
    padding: 5px;
}

.span-green{
    color:#46b02c;
}

#text-h-m{
    font-size: 21px;
    color: #787878;
}